.analticContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
}

.analticContainer canvas {
  flex: 0 1 auto;
  max-width: 100%;
  height: auto;
  margin: 50px 0;
}

.analticContainer canvas {
  width: 100% !important;
  height: auto !important;
  border: 2px solid black;
  border-radius: 5px;
}
